html
  head
    link(rel='stylesheet', href='/stylesheets/style.css').
    script(src='/javascripts/require.js').
    script(src='/javascripts/keymap.js').
    script(src='/javascripts/jquery.js').
    script(src='/javascripts/createjs.js').
  body
  block content
    